<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imasha.ifitcoach">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ifit_ic_launcher"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ifit_ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.ViewMessagesActivity" />
        <activity android:name=".activity.MessagesActivity" />
        <activity android:name=".activity.ServiceManagerActivity" />
        <activity android:name=".activity.OrdersActivity" />
        <activity android:name=".activity.ViewServiceActivity" />
        <activity android:name=".activity.GoalsActivity" />
        <activity android:name=".activity.AddWorkoutActivity" />
        <activity android:name=".activity.ConnectionsActivity" />
        <activity android:name=".activity.RequestActivity" />
        <activity android:name=".activity.ServiceActivity" />
        <activity android:name=".activity.PostCommentActivity" />
        <activity android:name=".activity.CreateServiceActivity" />
        <activity android:name=".activity.AddFoodActivity" />
        <activity
            android:name=".activity.FindActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.PostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.CreateFoodActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.DiaryActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.FoodListActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.AccountTypeActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.CreatePostActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.SetupActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.CreateAccountActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>